<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <title>Dorfladen BBZW - Übersicht</title>
</head>

<body>
    <section class="hero has-text-centered">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Dorfladen BBZW
                </h1>
            </div>
        </div>
    </section>

    <!-- MAIN CONTENT HERE -->
    <%- defineContent('main-content') %>

    <footer class="footer has-text-centered">
        <p>
            Copyright © 2019-2020</span>
            <br>
            Designed and Powered by <strong>ac WEBDESIGN</strong>
            <br>
            Creator: Adrian Cerdeira
        </p>
    </footer>
</body>

</html>