<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="/css/fontello.css">
    <link rel="stylesheet" type="text/css" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <title>Dorfladen BBZW</title>
</head>

<body>
    <section class="hero has-text-centered">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    <a href="/">
                        Dorfladen BBZW
                        <img src="/img/logo.png" alt="Logo" />
                    </a>
                </h1>
            </div>
        </div>
    </section>

    <nav class="pagination is-rounded right-button">
        <a></a>
        <a href="/cart" class="pagination-next button-orange">
            <i class="icon-shopping-basket"></i>
            <%=  Number.parseFloat(total).toFixed(2) %> CHF
            <%if (cartAmount != 0) { %>
            <span class="w3-badge w3-red"> <%= cartAmount %> </span>
            <% } %>
        </a>
    </nav>

    <!-- MAIN CONTENT HERE -->
    <%- defineContent('main-content') %>

    <footer class="footer has-text-centered">
        <p>
            <small>
                Copyright © 2020</span>
                <br>
                Designed and Powered by
                <a href="http://www.ac-webdesign.ch" target="_blank">
                    <strong>
                        ac WEBDESIGN
                    </strong>
                </a>
                <br>
                Creator: Adrian Cerdeira
            </small>
        </p>
    </footer>
</body>

</html>