<%- contentFor('main-content') %>
<section class="section container">
    <h2 class="title has-text-black">Einkauf</h2>

    <form class="form" action="/checkout" method="POST">
        <div class="field">
            <label class="label">Vorname</label>
            <div class="control">
                <input class="input" type="text" name="firstname" placeholder="Vorname eingeben" required>
            </div>
            <p id="firstname-alert" class="alert">Bitte Vorname eingeben</p>
        </div>

        <div class="field">
            <label class="label">Nachname</label>
            <div class="control">
                <input class="input" type="text" name="lastname" placeholder="Nachname eingeben" required>
            </div>
            <p id="lastname-alert" class="alert">Bitte Nachname eingeben</p>
        </div>

        <div class="field">
            <label class="label">
                <i class="icon-mail-alt"></i>Email
            </label>
            <div class="control">
                <input class="input" type="email" name="email" placeholder="Email eingeben" required>
            </div>
            <p id="email-alert" class="alert">Bitte gültige Email eingeben</p>
        </div>

        <div class="field is-grouped">
            <div class="control">
                <button id="checkout-button" class="button button-orange">
                    <i class="icon-basket"></i> Einkauf abschliessen
                </button>
            </div>
        </div>
    </form>
</section>

<script>
    const formInputs = document.querySelectorAll('input');
    const button = document.getElementById('checkout-button');
    button.disabled = true;

    formInputs.forEach(formInput => {
        formInput.addEventListener('input', (e) => {
            const isInputValid = formInput.checkValidity() === true;
            const inputName = formInput.name;

            if (isInputValid) {
                button.disabled = false;
                hiddenAlert(inputName);
            } else {
                button.disabled = true;
                showAlert(inputName);
            }
        });
    });

    function showAlert(name) {
        const id = `${name}-alert`;
        document.getElementById(id).style.display = 'block';
    }

    function hiddenAlert(name) {
        const id = `${name}-alert`;
        document.getElementById(id).style.display = 'none';
    }
</script>