/*** Layout ***/
.hero {
    background-color: orange;
}

/*** Typografie ***/
.hero h1 {
    color: white !important;
}

h1,
h2,
h3 {
    text-transform: uppercase;
}

.normal-price {
    text-decoration: line-through;
    color: red;
}


/*** Footer ***/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}