/*** Layout ***/
.hero {
    background-color: orange;
}

/*** Typografie ***/
.hero h1 a {
    color: white !important;
}

h1,
h2,
h3 {
    text-transform: uppercase;
}

/*** Column + Card Design ***/
.products {
    display: grid;
    grid-template-columns: repeat(1, auto);
}

.normal-price {
    text-decoration: line-through;
    color: red;
}

/*** Desktop ***/
@media (min-width: 40.0rem) {
    .products {
        grid-template-columns: repeat(4, auto);
    }
}