/*** Layout ***/
.hero {
    background-color: orange;
}

/*** Typografie ***/
h1 {
    color: white !important;
    text-transform: uppercase;
}

/*** Footer ***/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}