<%- contentFor('main-content') %>
<section class="section container has-text-centered">
    <table class="table is-fullwidth">
        <thead>
            <tr>
                <th>
                    <abbr>Produkt</abbr>
                </th>
                <th>
                    <abbr>Einzelpreis</abbr>
                </th>
                <th>
                    <abbr>Anzahl</abbr>
                </th>
                <th>
                    <abbr>Total</abbr>
                </th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <a href="/checkout" class="button button-orange">
        Weiter
    </a>
</section>