<%- contentFor('main-content') %>
<section class="section container">
    <h2 class="title has-text-black">Personendaten</h2>

    <form class="form">

        <div class="field">
            <label class="label">Vorname</label>
            <div class="control">
                <input class="input" type="text" placeholder="Vorname eingeben" required>
            </div>
        </div>

        <div class="field">
            <label class="label">Nachname</label>
            <div class="control">
                <input class="input" type="text" placeholder="Nachname eingeben" required>
            </div>
        </div>

        <div class="field">
            <label class="label">Email</label>
            <div class="control">
                <input class="input" type="email" placeholder="Email eingeben" required>
            </div>
        </div>

        <div class="field is-grouped">
            <div class="control">
                <button class="button button-orange">Einkauf abschliessen</button>
            </div>
            <div class="control">
                <a href="/" class="button is-link is-light">Abbrechen</a>
            </div>
        </div>
    </form>

</section>