<%- contentFor('main-content') %>
<section class="section has-text-centered has-background-black">
    <h2 class="title">Produkte</h2>
    <div class="container">
        <div class="columns">
        </div>
    </div>
</section>