<%- contentFor('main-content') %>
<section class="section container has-text-centered">
    <h2 class="title">Üngültige Eingaben</h2>
    <p>
        HAHAHAH jemand mit F12 am arbeiten :)
        <br />
        <br />
        <a href="/" class="button button-orange">Zurück zur Seite</a>
    </p>
</section>